/*
===== GLOBALS =====
Variables, global definitions
*/


:root {
    /* color palette */
    --text-color: #000000;
    --bcg-color: #ffffff;

    /* cv color palette */
    /* Might want to separate this from here in the future */
    --cv-text-color: #cccccc;
    --cv-bcg-color: #222222;
    --cv-accent-color: #209ba5;

    /* transitions time */
    --delay-short: 200ms;
    --delay-mid: 500ms;
    --delay-long: 1000ms;
}

:root[data-theme="dark"] {
    --text-color: rgb(255, 255, 255);
}

* {
    font-family: system-ui, sans-serif;
}

body {
    margin: 0;
    background: var(--bcg-color);
}

.visible-link {
    color: var(--text-color);
    transition: var(--delay-short) ease;
}
.visible-link:hover {
    text-decoration: none;
}

.div-link {
    color: var(--text-color);
    text-decoration: none;
}

.button {
    border: 2px solid var(--text-color);
    border-radius: 20%;
    align-content: center;
    padding: 0.5em 1em;
    cursor: pointer;
}

/*
===== UTILS =====
Bootstrap-like classes etc.
*/

.hidden {
    display: none;
}

.rounded {
    border-radius: 2em;
}


/* ===== NAVIGATION ===== */
.nav-container {
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Index */
.index-container {
    z-index: 3;

    max-width: 50%;

    position: fixed;
    background: var(--bcg-color);
    right: 0;
    padding: 0 1em;

    border: 2px solid black;
    border-right: none;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;

    transform: translateX(100%);
    transition: var(--delay-short) ease;
}
.index-shown {
    transform: translateX(0);
}

.index-container h4 {
    margin: 0;
}
.index-container p {
    margin-top: 0;
}

.exit-index-interaction {
    position: fixed;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    cursor: pointer;
}

/* ===== HEADER ===== */
.header-container {
    display: flex;
    justify-content: center;
}

.header-container div {
    text-align: center;
}

/* ===== MAIN ===== */
.main-container {
    margin: 0 auto;
    padding: 1em;
    max-width: 60em;
}

@media (min-width: 600px) {
    .main-container {
        padding: 1em 2em;
    }
}

/* ===== PROJECTS ===== */
.project-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    cursor: pointer;
    
    border: 2px solid black;
    border-radius: 2em;
    
    padding: 1em 2em;
    margin: 1em;
    max-width: 20em;

    transition: var(--delay-short) ease;
}
.project-card:hover {
    transform: scale(1.05);
}

/* --- PROJECT --- */
.project-main-image {
    max-width: calc(min(30em, 100%));
    max-height: calc(min(20em, 100%));
}

@media (min-width: 600px) {
    .limit-size {
        max-width: 50%;
    }

    .project-content {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 1em;
    }
}

/* ===== FOOTER ===== */
.footer-container div {
    padding: 0 1em;
}

@media (min-width: 600px) {
    .footer-container {
        display: flex;
        justify-content: space-evenly;
    }

    .footer-container div {
        padding: 0 2em;
    }
}


/* ===== CURRICULUM ===== */
.cv-body {
    background: var(--cv-bcg-color);
    color: var(--cv-text-color);
}

.cv-main {
    box-shadow: 0 0.1em 0.5em black;
    padding: 2em;
}

.cv-text-accent {
    color: var(--cv-accent-color);
}